/*
 * Main Stylesheet for Catalog App
 */

body,
header,
nav,
footer,
section,
article,
main,
div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    background-color: #ddd;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


header {
    background-color: #091b43;
    padding: 0.2em;
    width: 100%;
}

.header__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.header__title {
    color: #fdfdfd;
}

.a__text {
    color: #ed4a1e;
}
/*
 * Responsive
 *
 */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}


@media screen and (min-width: 550px) { }